* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: whitesmoke;
    transition: all 1s;
}

.header-nav {
    position: absolute;
    width: 100%;
    position: fixed;
    height: 85px;
    box-sizing: border-box;
    transition: all, 1s;
    background-color: rgba(223, 223, 223, 0.2);
    z-index: 100;
}

body {
    background: rgb(19, 19, 19);
}


#logo-img {
    float: left;
    width: 65px;
}



#logo-font {
    font-size: 40px;
    font-weight: bolder;
    color: white;
    padding-top: 8px;
}

.logo {
    display: flex;
}

.link-top {
    width: 400px;
    height: 100%;
    margin-left: 20%;
    margin-top: 10px;

}

.link-nav>a {
    vertical-align: middle;
    color: whitesmoke;
    letter-spacing: 8px;
    margin-right: 1rem;
    opacity: 0;
}

.link-nav>a:nth-child(5) {
    margin-right: 100px;
}

.link-nav {
    margin-right: 5%;
    margin-top: 30px;
    height: 40px;
}

.link-nav>a:nth-child(6)>img {
    width: 30px;
    /* margin-left: 200px;   */
    vertical-align: bottom;
}

.link-nav>a:nth-child(6)>span {
    letter-spacing: 0px;
    font-weight: bold;
}

#search {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}

#display {
    width: 30px;
    height: 30px;
    padding: 10px;
    margin: 20px;
}

/* 动画 */
.link-nav a:hover {
    color: rgb(251, 218, 65);
    text-shadow: 0px 0px 12px rgb(177, 155, 59);
}

/* TODO:home 页面 */
.box>img {
    float: left;
    opacity: 0.7;
}

.home {
    overflow: hidden;
}

.box {
    transition: all 2s;
}