/* 默认样式 */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: rgb(19, 19, 19);
    font-family: '微软雅黑,黑体,楷体';
}

a {
    color: whitesmoke;
    transition: all 1s;
    -webkit-transition: all 1s;
}

html {
    scroll-behavior: smooth;
    /* font-size: 16px; */
}

/* 导航栏页面 */
.header-nav {
    /* position: absolute; */
    width: 100%;
    position: fixed;
    height: 85px;
    /* box-sizing: border-box; */
    -webkit-transition: all 1s;
    transition: all, 1s;
    background-color: rgba(223, 223, 223, 0.2);
    z-index: 100;
}

/* logo 图标 */
#logo-img {
    float: left;
    width: 65px;
}

/* logo 标题字体 */
#logo-font {
    font-size: 40px;
    font-weight: bolder;
    color: white;
    padding-top: 8px;
}

.logo {
    display: flex;
}

.link-top {
    width: 400px;
    height: 100%;
    margin-left: 20%;
    margin-top: 10px;
}

/*所有a链接 */
.link-nav a {
    vertical-align: middle;
    color: whitesmoke;
    letter-spacing: 8px;
    margin-right: 1rem;
    opacity: 0;
}

.link-nav>a:nth-child(5) {
    margin-right: 100px;
}

.link-nav {
    margin-right: 5%;
    margin-top: 40px;
    /* background-color: plum; */
    display: flex;
    /* display: flex; */
}

/* 手机号 */
#phone>ion-icon,
#phone>span {
    vertical-align: middle;
}

#phone>ion-icon {
    font-size: 25px;
}

#phone>span {
    letter-spacing: 0px;
    font-size: 18px;
}

/* 搜索按钮 */
#search>ion-icon {
    font-size: 30px;
}

#search {
    height: 30px;
    width: 30px;
}

/* 显示按钮 */
#display {
    width: 50px;
    height: 50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    right: 150px;
    margin: 25px auto;
}

#display a {
    font-size: 40px;
}

#display a>ion-icon:first-child {
    display: block;
}

#display a>ion-icon:last-child {
    display: none;
}

/* 搜索框 */
.search-frame {
    position: relative;
    right: 100px;
    top: 18px;
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: left;
    opacity: 0;
    transition: all 1s;
}

.search-frame input {
    border: none;
    width: 10vw;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
}

.search-frame input:focus {
    outline-color: rgba(172, 232, 255, 0.603);
}

.search-frame a>ion-icon {
    vertical-align: middle;
    font-size: 45px;
    color: white;
    transition: all 1s;
    cursor: default;
}

.search-frame a:hover>ion-icon {
    cursor: default;
    transform: scale(1.2);
    color: skyblue;
}

/* 主页面文字 */
.box-item {
    height: 400px;
    width: 40vw;
    position: absolute;
    z-index: 10;
    padding-top: 80px;
}

.box-item-title {
    width: 40vw;
    height: 150px;
    display: flex;
    color: white;
    font-size: 70px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
}

.box-item-content {
    width: 43vw;
    height: 100px;
    color: rgba(214, 214, 214, 0.7);
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 5px;
    line-height: 25px;
    text-align: center;
    padding-top: 50px;
}

.subscribe {
    width: 40vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 通用按钮上下 */
.subscribe button {
    width: 160px;
    height: 60px;
    font-size: 19px;
    color: white;
    border: none;
    border-radius: 10px;
    background: rgb(64, 186, 219);
    transition: all 1s;
}

/* 动画 */
.link-nav a:hover {
    transform: scale(1.2);
    color: rgb(251, 218, 65);
}

#search:hover {
    color: rgb(18, 196, 209);
}

.subscribe button:hover {
    background: rgba(255, 220, 63, 0.7);
}



/* TODO:home 页面 */
div.view div.box img {
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

div.view {
    width: 100%;
    height: 98vh;
    /* background-color: cadetblue; */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

div.view div.box {
    width: 500%;
    height: 100%;
    position: relative;
    left: 0;
    animation: run 60s 3s infinite cubic-bezier(0.23, 1, 0.320, 1)
}

div.view div.box div.a {
    width: 20%;
    height: 100%;
    /* background-color: brown; */
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.view div.box div.b {
    width: 20%;
    height: 100%;
    /* background-color: plum; */
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.view div.box div.c {
    width: 20%;
    height: 100%;
    /* background-color: skyblue; */
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.view div.box div.d {
    width: 20%;
    height: 100%;
    /* background-color: skyblue; */
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes run {
    0% {
        left: 0%;
    }

    15% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    /*  */

    25% {
        left: -100%;
    }

    40% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    /*  */

    50% {
        left: -200%;
    }

    65% {
        left: -200%;
    }

    /*  */
    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    90% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}